@font-face {
	font-family: NeueLight;
	src: url('Fonts/HelveticaNeue-Light.ttf');
}

@font-face {
	font-family: NeueXLight;
	src: url('Fonts/HelveticaNeue-UltraLight.ttf');
}

@font-face {
	font-family: GothamLight;
	src: url('Fonts/Gotham-Light.ttf');
}

@font-face {
	font-family: GothamBook;
	src: url('Fonts/Gotham-Book.ttf');
}

@font-face {
	font-family: OpenSansRegular;
	src: url('Fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: OpenSansLight;
	src: url('Fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: OpenSansBold;
	src: url('Fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: OpenSansSemiBold;
	src: url('Fonts/OpenSans-Semibold.ttf');
}

body {
	background-color: #ecf0f1;
}

#title {
	margin-left: 17%;
	color: #34495e;
	position: relative;
	font-family: OpenSansBold;
	font-size: 50px;
	margin-top: 2%;
	margin-bottom: 2%;
}

p {
	color: black;
	position: relative;
	font-family: OpenSansRegular;
	font-size: 17px;
	width: 800px;
	left: 17%;
	margin-bottom: 2.5%;
	text-align: justify;
}

#messageInput {
	margin-bottom: 1%;
	border-radius: 7px;
	margin-left: 17%;
	color: black;
	font-family: OpenSansRegular;
	font-size: 20px;
	width: 781px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

#nameInput {
	border-radius: 7px;
	margin-left: 17%;
	margin-bottom: 1%;
	color: black;
	font-family: OpenSansRegular;
	font-size: 20px;
	width: 781px;
	height: 30px;
	border: 3px solid #cccccc;
	padding: 5px;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

#numberInput {
	border-radius: 7px;
	margin-left: 17%;
	margin-bottom: 1%;
	color: black;
	font-family: OpenSansRegular;
	font-size: 20px;
	width: 781px;
	height: 30px;
	border: 3px solid #cccccc;
	padding: 5px;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

#goButton {
	margin-left: 17%;
	margin-bottom: 2%;
}

#status {
	color: black;
	position: relative;
	font-family: OpenSansBold;
	font-size: 25px;
	width: 800px;
	left: 17%;
	margin-bottom: 2.5%;
}

/* General button style */
.btn {
	border: none;
	font-family: OpenSansSemiBold;
	font-size: 25px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 3px solid #cccccc;
	color: #3498db;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #2980b9;
	background: #fff;
}
